/* Error: Missing argument $if-false.
 *   ,--> scss\app.scss
 * 47|   $color: if($condition, grey);
 *   |           ^^^^^^^^^^^^^^^^^^^^ invocation
 *   '
 *   ,
 * 1 | @function if($condition, $if-true, $if-false) {
 *   |           =================================== declaration
 *   '
 *   scss\app.scss 47:11  boxes()
 *   scss\app.scss 60:3   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Missing argument $if-false.\a   \250c \2500 \2500 > scss\\app.scss\a 47\2502    $color: if($condition, grey);\d\a   \2502            ^^^^^^^^^^^^^^^^^^^^ invocation\a   \2575 \a   \2577 \a 1 \2502  @function if($condition, $if-true, $if-false) {\a   \2502            \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a   \2575 \a   scss\\app.scss 47:11  boxes()\a   scss\\app.scss 60:3   root stylesheet";
}
