.btn {
  margin-top: 35px;
  margin-bottom: 40px;
}

.catalog-preview-cta {
  @include media-breakpoint-up('md') {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
  text-decoration: none;
  font-family: 'Roboto';
  color: $brand-main;
  padding: 10px;
  border: 1px solid $brand-main;
  width: 83px;
  height: 32px;
}
