.btn {
  margin-top: 35px;
  margin-bottom: 40px;
}

.catalog-preview-cta {
  text-decoration: none;
  font-family: 'Roboto';
  color: $brand-main;
  padding: 10px;
  border: 1px solid $brand-main;
  width: 83px;
  height: 32px;
}
